:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --hero-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  width: 1600px;

  background-color: var(--hero-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*Header*/

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
}

.logotwo {
  color: var(--primary-text-color);
}

.full-logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.site-nav .current:hover,
.site-nav .current:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.auth-nav .email:hover,
.auth-nav .email:focus {
  color: var(--accent-color);
}

/*Hero*/
.hero {
  background-color: #2f303a;
  color: var(--hero-color);
  text-align: center;
}

.hero-text {
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.primary-btn {
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 200px;

  background-color: var(--accent-color);
  color: var(--hero-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  text-decoration: none;
  align-items: center;
  letter-spacing: 0.06em;
}

/*Advantages*/

.advan-box {
  padding-inline-start: 0px;
  display: flex;
}

.advan-box .item {
  margin-right: 30px;
}

.item .advan-img {
  margin-bottom: 30px;
}

.advan-box .item:last-child {
  margin-right: 0;
}

.advantages {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.adv-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  outline: 3px solid rgb(116, 216, 112);
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.whywe-container {
  margin-top: 94px;
}

/*What We Do*/
.whatwedo {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 2.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.wedo-container {
  margin-top: 94px;
}

.wedo-box {
  padding-inline-start: 0px;
  display: flex;
}

.wedo-box .do-item + .do-item {
  margin-left: 30px;
}

/*Our Team*/

.team-container {
  margin-top: 94px;
}

.team-box {
  display: flex;
  padding-top: 94px;
  padding-inline-start: 0;
}

.team-box .item {
  margin-right: 30px;
}

.team-box .item:last-child {
  margin-right: 0;
}

.ourteam-section {
  background-color: #f5f4fa;
}

.ourteam,
.our-clients {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 2.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.ourteam-lead {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.ourteam-position {
  text-align: center;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.list-box {
  display: flex;
  padding-inline-start: 0;
  justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 30px;
}

.ot-soclinks:hover,
.ot-soclinks:focus {
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.client-container {
  margin-top: 94px;
}

.clients-box {
  display: flex;
  padding-inline-start: 0;
}

.clients-box .item {
  margin-right: 30px;
  margin-top: 50px;
}

.clients-box .item:last-child {
  margin-right: 0;
}

/*Footer*/
.footer {
  background-color: #2f303a;
}

.footer-studio {
  color: var(--hero-color);
}

.post-address,
.email-address,
.tel-address {
  color: var(--hero-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.email-address,
.tel-address {
  color: rgba(255, 255, 255, 0.6);
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.joinus-box {
  padding-top: 72px;
  padding-bottom: 100px;
}

.join-social {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.join-social:focus,
.join-social:hover {
  background-color: var(--accent-color);
}

.footer-container {
  margin-top: 94px;
  padding-top: 60px;
}

.foot-box {
  display: flex;
}

.add-box {
  margin-right: 70px;
  padding-top: 60px;
}

.post-box {
  margin-top: 20px;
}

.join-box {
  display: flex;
  padding-inline-start: 0;
  margin-top: 20px;
  justify-content: space-between;
}

/*Portfolio buttons*/
.portf-btn:hover,
.portf-btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Portfolio main*/

.portf-project {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portf-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
